body{
	background-color: #EFF1F4;
}
div {
  margin: .4em 0;
}
div label {
  width: 10%;
  
}

.jumbotron{
	background: #FFFFFF;
	color:00000;
	padding: 20px 0;
	border-radius: 5px;
	width:400px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-200px; /* width / -2 */
    margin-top:-200px; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    box-shadow: 0px 0px 20px #9C9C9C;
}

.jumbotron h1{
	margin-top: 0px;
}

.container{
	width: 90%;
	margin: 0 auto;
}

.jumbotron form{
	color:00000;
	text-align: left;
}

.jumbotron form label{
	font-size: 1.15em;
}

.jumbotron form input{
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 1.25em;
	border-radius: 3px;
	border: 1px solid #BEC3D5
}

.jumbotron form input[type=submit]{
	background-color: #649BD5;
	color: #FFFFFF;
}

.jumbotron a{
	color: #649BD5;
	font-style: none;
}

/*-------VALIDACION--------*/

.jumbotron form input.invalid, textarea.invalid{
	border-right: 2px solid #FF1A00;
}

.jumbotron form input.valid, textarea.valid{
	border-right: 2px solid #00DC00;
}

.error{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
}

#alerta-wrapper{
	display: table; /*Para poder darle un ancho del 100% a #alerta */
	width: 100%; /* idem */
}

#alerta{
	margin-bottom: 0;
	width: 100%;
	font-size: 10px;
	display: table-cell; /* Para que el texto se muestre centrado*/
    vertical-align:middle;
    text-align: center;
}

#alerta span{
	padding: 20px 0 20px 0;
}

.success {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #CFD3D3;
}

.fail{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #CFD3D3;
}