*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,0.03);
}

/*-----------BARRA DE NAVEGACION-------------*/
nav{
    display: block;
    background-color: #3900B4;
    overflow: hidden;
}


.navbar{
    border-radius: 0px;
    border: none;  
    font-size: 1.1em;
    margin-bottom: 10px;
}

.navbar-brand {
    color: white;
    font-size: 1.3em;
}

.navbar-brand:hover{
    color: white;
}

nav ul>li, span{
	display: inline-block;
}

nav ul>li>a, span>a{
	display: block;
	line-height: 50px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 0.8em;
}

.nav > li > a:hover{
    background-color: black;
}

.nav a:hover, .nav a:focus{
	color: white;
}

span{
	position: absolute;
	right: 20px;
}

.ico-idioma {
    height: 40px;
    width: 40px;
}


#ico-idioma-padding {           /*Eliminar el padding que hacia que las imagenes ocupasen mas que la navBar*/
    padding-bottom: 0px;
    padding-top: 5px;
}

/*--------- BOTONES MENU ----------*/

.content {
    margin-top: 10px;
    margin-left: 2%;
}

div.boton {
	float: left;
	width: 48%;
	
	margin: 1vmin;
	color: black;
 border: 2px solid black;
 background-color: white;
 text-shadow: 2px 2px 8px #FFFFFF;
	border-radius: 5px;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

div.boton>a{
	display: inline-block;
	width: 100%;
	line-height: 200px;
	text-decoration: none;
	color: #626163;
	font-family: Helvetica;
}

.boton>a:hover{
    color: white;
    border: 2px solid #3900B4;
    background-color: #3900B4;
}


/*--------- Todas las paginas ----------*/
.titulo {
    font-size: 22pt;
}

.well{
    background-color: rgba(255,255,255,1);
}

.edit-icon {
    text-align: right;
}

.remove-icon {
    float: right;
    font-size: 1.2em;
}

.modificar {
    background-color: aliceblue;
    border-radius: 5px;
}

.panel > .panel-heading{
    background-color: rgba(0,0,0,0.09);
    font-weight: bold;
}

.list-onHover>li:hover{
    background-color: lightgrey;
}

/*Pull right the icon plus on the rol page*/
.pull-right{
    float: right;
}

.panel .glyphicon-plus {
    color: green;
}

.panel .glyphicon-trash {
    color: red;
    float: right;
}

.btn-parent {
    margin-left: auto;
    margin-right: auto;
}

.btn-child {
    display: table;
    margin: 0 auto;
}

.btn-lg, .btn-lg:visited {
    background-color: #0101DF;
}

.btn-lg:hover, .btn-lg:active:focus {
    background-color: #110D92;
}

/*Los text area solo se amplien hacia abajo*/
textarea { resize: vertical; }