*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*-----------BARRA DE NAVEGACION-------------*/
nav{
	display: block;
	background-color: #3D5CD2; 
	overflow: hidden;
}

.navbar{
	border-radius: 0px;
	border: none;
}

.navbar{
	font-size: 1.1em;
}

.navbar-brand {
    color: #AECDFF;
    font-size: 1.3em;
}

.navbar-brand:hover{
    color: white;
}

nav ul>li, span{
	display: inline-block;
}

nav ul>li>a, span>a{
	display: block;
	line-height: 50px;
	padding: 0 20 0 20;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 0.8em;
}

.nav > li > a:hover{
    background-color: #5B81FF;
}

.nav a:hover, .nav a:focus{
	color: white;
}

span{
	position: absolute;
	right: 20px;
}

.active{
    background-color: #9900FF;
}

/*---------CONTENIDO (BOTONES)----------*/

div.content{
	margin-top: 50px;
}

div.boton {
	float: left;
	width: 48%;
	
	margin: 1%;
	background-color: #EFF2ED;
	border-radius: 5px;
	border: 1px solid #C0C2BF;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

div.boton>a{
	display: block;
	width: 100%;
	line-height: 200px;
	text-decoration: none;
	color: #626163;
	font-family: Helvetica;
}

div.boton>a:hover{
	background-color: #D9D7DB;
}

/*--------- Roles ----------*/
.titulo {
    font-size: 22pt;
}

.well{
    background-color: rgba(0,0,204,0.09);
    border: none;
}

.edit-icon {
    text-align: right;
}

.remove-icon {
    float: right;
    font-size: 1.2em;
}

.modificar {
    background-color: aliceblue;
    border-radius: 5px;
}

.panel-default > .panel-heading{
    background-color: rgba(0,0,204,0.09);
    font-weight: bold;
}

.list-onHover>li:hover{
    background-color: lightgrey;
}

/*Pull right the icon plus on the rol page*/
.pull-right{
    float: right;
}

.glyphicon-plus {
    color: green;
}

.glyphicon-trash {
    color: red;
    float: right;
}
